.nav-link {
    color: #2471A3 !important;
}
.nav-link:hover {
    color: coral !important;
    text-decoration: underline;
}

.container {
    margin-bottom: 3%;
}

.bb1 {
    background-color:#FDEDEC ;
    border-radius: 8px;
}

.bb2 {
    background-color: #884EA0  ;
    border-radius: 8px;
}

.bb3 {
    background-color: #17A589;
    border-radius: 8px;
}

.bb4 {
    background-color:  #FBEEE6 ;
    border-radius: 8px;
}

.b-button {
    position: relative;
    right: 5%;
}

.btop {
    position:relative;
    left:2%;
    
}

.box h3 {
    text-align: center;

    margin-bottom: 5px;
}

.box1 {
    background-color: #9B59B6;
    padding-bottom:10px;
    border-radius: 8px;
    color:white;
    margin-bottom: 7px;
}

.box2 {
    
    background-color: #5DADE2 ;
    padding-bottom:10px;
    border-radius: 8px;
    color:white; 
    
}

.box3{
    background-color: #48C9B0  ;
    padding-bottom:10px;
    border-radius: 8px;
    color:white;
    margin-top:7px;
}

.more {
    color: orange;
    text-decoration: underline;
}

.more:hover {
    color:black;
}
.card {
    box-shadow: 5px 5px 10px lightgray;
    
}

h2 {
    margin-bottom:10px;
}

.card-deck {
    margin-bottom: 15px;
}

.demoh {
    margin-bottom: 15px;
    margin-top: 25px;

}


.demoh h2 {
    color:#2471A3;  
       
}
